/* start varaibles */
:root {
    --section-padding: 64px;
    --main-color: #686868;
    --section-color: #000;
    --section-second-color: #fff;
    --footer-color: #a8a8a8;
    --margin: 20px;
}
/* end variables */
/* start global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 1.8;
}
html, body {width: auto!important; overflow-x: hidden!important} 
ul {
    list-style: none;
}
.container {
    padding-left: 100px;
    padding-right: 100px;
    margin-left: auto;
    margin-right: auto;
}
/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end global rules */
/* start components */
.main-heading {
    text-align: center;
}
.main-heading h3 {
    font-weight: 400;
    margin: 10px 0;
    font-size: 24px;
    text-transform: uppercase;
}
.main-heading p em {
    margin: 5px;
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* end components */
/* start header */
header {
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 2;
}
header .links {
    position: fixed;
    width: 100%;
    background-color: var(--section-second-color);
    box-shadow: 0px -1px 7px 0 var(--section-color);
}
header .links nav,
ul li a {
    flex: 1;
    max-height: 45px;
}
header .links nav ul {
    display: flex;
}
header .links nav ul li a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
header .links nav a,
header .links  i {
    padding: 14px 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--main-color);
}
header .links nav a:first-child {
    color: var(--main-color);
}
header .links .toggle-menu:hover {
    background-color: var(--section-color);
}
@media (min-width: 768px) {
    header .links .toggle-menu,
    header .links nav ul .home i {
        display: none; 
    }
}
header .links nav ul li a:hover {
    background-color: #d8d5d5;
    color: var(--section-color);
}
header .links .form a i:hover {
    background-color: rgb(238, 0, 0);
    color: var(--section-second-color);
}
@media (max-width: 767px) {
    header .links nav ul  {
        display: none;
    }
    header .links .toggle-menu:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--section-second-color);
        color: var(--section-color);
    }
    header nav ul li a {
        justify-content: start;
    }
    header .links .toggle-menu:hover {
        color: var(--section-second-color);
    }
}
header .links .toggle-menu {
    font-size: 22px;
    padding: 14px 16px;
    position: absolute;
    top: -5px;
    right: 0;
}
/* end header */
/* start landing */
.landing {
    background-color: #a09d9d;
    background-image: url(../images/landing.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: scroll;
    min-height: 400px;
    opacity: 0.75;
}
.landing .land-info {
    padding: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    -webkit-transform: translate( -50%, -50%);
    -moz-transform: translate( -50%, -50%);
    -ms-transform: translate( -50%, -50%);
    -o-transform: translate( -50%, -50%);
    background-color: var(--section-color);
}
.landing .land-info  {
    letter-spacing: 10px;
    color: var(--section-second-color);
    font-size: 22px;
    padding: 12px 14px;
}
@media (max-width: 767px) {
    .landing .land-info span {
        display: none;
    }
    .landing .land-info {
        letter-spacing: 6px;
        font-size: 15px;
    }
}
/* end landing */
/* start about */
.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    color: var(--main-color);
}
@media (max-width: 767px) {
    .about .container {
        padding-left: 15px;
        padding-right: 15px;
    }
    .about .container .about-my-info {
        flex-direction: column;
    }
    .about .container .about-my-info .info {
        display: none;
    }
}
.about .about-info {
    padding: 20px 0;
}
.about .about-my-info .info {
    padding: 12px 24px;
    text-align: left;
    margin-left: var(--margin);
} 
@media (min-width: 601px) {
    .about .about-my-info .info, .about .about-my-info .photo {
        width: 49.99999%;
}
}
.about .about-my-info .photo p {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 16px;
}
.about .about-my-info .photo p i {
    padding-right: 10px;
}
.about .about-my-info .photo img {
    max-width: 90%;
    height: auto;
    opacity: 0.60;
}
.about .about-my-info .photo img:hover {
    opacity: 1;
}
.about p:nth-child(4) {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    font-size: 18px;
}
.about .statistics-info {
    letter-spacing: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.about .statistics {
    color: var(--section-color);
    background-color: #f1f1f1;
    text-align: center;
    height: 40px;
    line-height: 3;
}
.about .statistics span {
    color: var(--section-second-color);
    background-color: #616161;
    height: 100%;
    display: block;
} 
/* end about */
/* start portfolio */
.portfolio-info {

    background-image: url(../images/portfolio.jpg);
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
    min-height: 400px;
    opacity: 0.75;
    position: relative;

}
@media  (max-device-width: 1600px) {
    .portfolio-info {
        background-attachment: scroll;
        min-height: 400px;
    }
}
.portfolio .portfolio-info .portfolio-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
}
.portfolio .portfolio-info .portfolio-message  span {
    color: var(--section-second-color);
    letter-spacing: 10px;
    text-transform: uppercase;
    font-size: 36px;
}
.portfolio .stats {
    color: var(--section-second-color)!important;
    background-color: #616161!important;
    padding-top: 16px!important;
    padding-bottom: 16px!important;
}
@media (max-width: 767px) {
    .portfolio .stats {
        flex-direction: column;
    }
}
.portfolio .stats .box {
    text-align: center;
    margin-top: 16px!important;
    margin-bottom: 16px!important;
}
.portfolio .stats .box .number {
    font-size: 24px;
}
.portfolio .my-work {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    color: var(--main-color);
}

.portfolio .my-work .my-work-info-row-1,
.portfolio .my-work .my-work-info-row-2 {
    display: flex;
    justify-content: space-around;
    margin-top: var(--margin);
}
.portfolio .my-work .my-work-info-row-2 {
    margin-top: 8px;
}
@media (max-width:767px) {
    .portfolio .container {
        padding-left: 20px;
        padding-right: 20px;
    }
    .portfolio .my-work .my-work-info-row-1,
    .portfolio .my-work .my-work-info-row-2 {
        flex-direction: column;
    }
}
.portfolio .my-work .my-work-info-row-1 .box img,
.portfolio .my-work .my-work-info-row-2 .box img {
    width: 100%;
    padding: 0 8px;
}
.portfolio .my-work .box img:hover {
    opacity: 0.60;
}
.portfolio .my-work button {
    width: fit-content;
    margin-top: 90px;
    padding: 16px 20px!important;
    text-transform: uppercase;
    border: none;
    color: var(--section-color)!important;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50%);
    -webkit-transform: translate( -50%, -50%);
    -moz-transform: translate( -50%, -50%);
    -ms-transform: translate( -50%, -50%);
    -o-transform: translate( -50%, -50%);
    cursor: pointer;
}
.portfolio .my-work button:hover {
    color: var(--section-color)!important;
    background-color: #ccc7c7;
    outline: none;
}
/* end portfolio*/
/* start contact */
.contact {
    padding-bottom: var(--section-padding);
}

.contact .contact-info {
    background-image: url(../images/contact.jpg);
    background-size: cover;
    background-color: #a09d9d;
    background-position: center;
    position: relative;
    background-attachment: scroll;
    min-height: 400px;
    opacity: 0.75;
}
@media only screen and (max-device-width: 1600px) {
        .contact .contact-info {
            background-attachment: scroll;
            min-height: 400px;
        }
}
.contact .contact-info span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: var(--section-second-color);
    letter-spacing: 10px;
    font-size: 36px;
    text-transform: uppercase;
}
.contact .container .content {
    padding-top: 64px!important;
    padding-bottom: 64px!important;
}
@media (max-width:767px) {
    .contact .container {
        padding-left: 30px;
        padding-right: 30px;
    }
}
.contact .content-info {
    padding-top: 32px!important;
    padding-bottom: 32px!important;
    color: var(--main-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contact .content-info .image {
    padding: 0.01em 16px;
    margin-right: var(--margin);

}
@media (max-width: 767px) {
    .contact .content-info {
        text-align: left;
        flex-direction: column;
        align-items: start;
        padding-bottom: 0!important;
    }
    .contact .content-info .image {
        padding: 0;
    }
}
@media (min-width: 601px) {
    .contact .content-info .image {
        width: 33.33333%;
    }
}
.contact .content-info .image img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}
.contact .content-info  .box {
    margin-bottom: 5px;
    font-size: 18px!important;
}
.contact .content-info .box i {
    margin-right: 16px;
}
.contact .content-info .box i:hover {
    color: var(--section-color);
}
@media (min-width: 601px) {
    .contact  .content-contact {
        width: 66.66666%;
    }
}
.contact  .content-contact p {
    font-size: 15px;
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    color: var(--main-color);
}
.contact  .content-contact button {
    color: var(--section-second-color)!important;
    background-color: var(--section-color)!important;
    float: right;
    margin-top: 16px;
    margin-bottom: 16px;
    text-transform: uppercase;
    width: fit-content;
    padding: 16px 20px!important;
    border: none;
    cursor: pointer;
    position: relative;
    top: -50px;
    right: -53%;
}
@media (max-width: 767px) {
    .contact  .content-contact button {
        top: 10px;
        right: 0;
    }
}
.contact  .content-contact button:hover {
    color: var(--section-color)!important;
    background-color: rgb(202, 198, 198)!important;
}
.contact  .content-contact form,
.contact  .content-contact p {
    position: relative;
    top: -50px;
    right: -53%;
}
@media (max-width:767px) {
    .contact  .content-contact form,
    .contact  .content-contact p {
        position: relative;
        top: 50%;
        right: 0;
    }
}
.w3-row-padding {
    padding: 0 8px;
}
.w3-row-padding, .w3-row-padding>.w3-half, .w3-row-padding>.w3-third, .w3-row-padding>.w3-twothird, .w3-row-padding>.w3-threequarter, .w3-row-padding>.w3-quarter, .w3-row-padding>.w3-col {
    padding: 0 8px;
}

@media (min-width: 601px) {
    .w3-half {
        width: 49.99999%;
    }
}
.w3-half {
    float: right !important;
    width: 50%;
    margin-bottom: var(--margin);
}

.w3-border {
    border: 1px solid #ccc!important;
}
@media (max-width: 767px) {
    .w3-half {
        float: none;
        width: 100%;
        margin-bottom: 0;
    }
    form .message {
        position: relative;
        top: 10px
    }
}
.w3-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
}
button, input {
    overflow: visible;
}
 input {
    font: inherit;
    margin: 0;
}
/* end contact */
/* start footer */
footer {
    background-color: var(--main-color);
    color: var(--section-second-color);
    padding-top: 64px!important;
    padding-bottom: 64px!important;
    text-align: center;
}
@Media (max-width: 767px) {
    footer {
        font-size: 22px;
    }
}
footer:hover {
   background-color: var(--section-color);
}
footer a:first-of-type {
    text-decoration: none;
    color: var(--main-color);
    background-color: #f7f4f4;
    padding: 12px 20px!important;
    cursor: pointer;
    margin-top: 64px;
}
footer a:first-of-type i {
    margin-right: 15px;
}
footer .social-media {
    margin-top: var(--margin);
    margin-bottom: var(--margin);
    font-size: 24px;
}
footer a:last-of-type {
    color: var(--section-second-color);
}
footer a:last-of-type:hover {
    color: rgb(5, 121, 5);
}
footer a:first-of-type:hover {
    background-color: var(--footer-color);
    color: var(--section-color);
}
footer .social-media i:hover {
    color: var(--footer-color);
}
/* end footer */

